{
    # Let's Encrypt account email (required for cert issuance)
    email {$ADMIN_EMAIL}
}

# HTTPS: token endpoint + test UI
{$MEDIA_DOMAIN} {
    # LiveKit Signaling & API
    reverse_proxy /rtc* localhost:7888

    # Token Server & Test UI
    reverse_proxy localhost:8000
}
